@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome To FRB Academy </h1>
    <br />
  <p style="color:red;" class="md-auto">This paper studies the origins of what has become one of the most radical and encompassing programmes of school reform seen in the recent past in advanced countries</p>
   
    <img src="~/Images/img1.jpg" asp-append-version="true" height="300" width="600" alt="Alternate Text" />
    
</div>
